@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f5f6fa;
    background-color: #353b48;
}

.box {
    width: 350px;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f3640;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
}

.box h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
}

.box input[type = "text"], .box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8c7ae6;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #f39c12; 
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f39c12;
    padding: 14px 40px;
    outline: none;
    color: #f39c12;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #f39c12;
    color: #2f3640;
}